@{
    ViewBag.Title = "Registration Successful";
}

<div class="container text-center">
    <h2>You have logged in successfully!</h2>
    <p>Welcome to our application, @User.Identity.Name!</p>
    <p>Your account has been Logged in successfully.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Homepage</a>
</div>
