@{
    ViewBag.Title = "Registration Failed";
    var errors = TempData["Errors"] as List<string>;

}

<div class="container text-center">
    <h2>Registration Failed</h2>
    <p>Unfortunately, we couldn't create your account. Please check the errors below:</p>

    @if (errors != null && errors.Any())
    {
        <ul class="text-danger">
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    }

    <a href="@Url.Action("Register", "Users")" class="btn btn-warning">Try Again</a>
</div>
